Body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #d1d5db;
    font-size:18px ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.nav-links{
    gap:20px;
    display: flex;
}

header{
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 80px;
    background-color: #1F2937; 
}
h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 1px;
} 
.image-holder,.special{
    font-size: 18px;
    color: #d1d5db;
    
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 6px 20px;
    border-radius: 8px;
    border: 0;
    margin: 1px;
}
.image-holder{
    background-color: rgb(123, 125, 134);
    padding:80px;
    text-align: center; 
   
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.hero-text{
    max-width: 400px;
}


.boom{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
    margin: 0 auto;
}
.text{
    max-width: 150px;

}

h3{
    text-align: center;
    font-size: 32px ;
    color: #1F2937;
    font-weight: 900;
}

.info{
    margin: 0;
    padding-bottom: 80px;
}

.box{
    width: 160px;
    height: 160px;
    border: 3px solid #3b82f6;
     border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.quote{
    background-color: #e5e7eb;
    padding: 80px 300px;
    text-align: start;
    margin: 0;
}

.quote q{
    font-style: italic;
    font-size: 36px;
    color: #374151;
    line-height: 1.5;
}

.tom{
    margin-top: 20px;
    text-align: right;
    font-weight: 300;
    color: #1F2937;
}





 




